@mixin resetCss {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style {
    background-color: $btn-bg;
    color: $btn-color;
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        background-color: $btn-bg-hover;
    }
}

body,
html {
    @include resetCss();
    height: 100vh;
    width: 100vw;

}

body {
    font-family: Arial, sans-serif;
    // Variables
    $background-color: #f5faf7;
    $primary-color: #107C41;
    $button-bg-color: #EBEBEB;
    $button-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    $white: #ffffff;
    $black: #000000;

    // Ribbon Container
    #ribbon-container {
        background-color: $background-color;
        height: 10vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    // Progress Bar
    .progress {
        display: none;
        position: relative;
        background-color: $background-color;
        top: 0px;
        height: 1.25vh;
        border-radius: 0;

        .progress-bar {
            background-color: $primary-color;
            font-size: 9px;
            height: 100%;
        }
    }

    // Tab List
    .tab-list-container {
        margin-top: 5px;
        display: flex;
        justify-content: start;
        flex-direction: row;
        padding-left: 20px;
        margin-bottom: 5px;

        .tab-list-container-items {
            margin-right: 10px;
            font-size: small;
            padding: 5px;
            cursor: pointer;

            &:hover,
            &.active {
                border-bottom: 2px solid $primary-color;
            }
        }
    }

    // Focus Zone
    .focus-zone {
        margin: 0 7px;
        padding: 5px;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 50px;

        .focus-zone-inner {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .focus-zone-inner-seperator {
                background-color: #e0e0e0;
                margin-left: 5px;
                height: 22px;
                width: 2px;
            }

            .focus-zone-input-btn {
                height: max-content;
            }

            .focus-zone-inner-btn {
                background-color: $white;
                color: $black;
                // border-radius: 5px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: $button-shadow;
                padding: 5px;
                cursor: pointer;

                &:hover,
                &.active {
                    color: $white;
                    background-color: #40a061;
                }
            }

            .focus-zone-inner-btn-left {
                border-radius: 14px 0px 0px 14px;
                margin-left: 5px;
                // margin-right: 5px;

            }

            .focus-zone-inner-btn-middle {
                // border-radius: 5px 5px 5px 5px;
                border-radius: none;
                margin-left: -2px;
                // margin-right: 5px;
            }

            .focus-zone-inner-btn-right {
                margin-left: -2px;
                border-radius: 0px 14px 14px 0px;
            }

            // Left Section (File & Buttons)
            .focus-zone-left {
                display: flex;
                flex-direction: row;

                .focus-format,
                .focus-file,
                .focus-operations,
                .focus-graph {
                    display: none;

                    &.active {
                        display: flex;
                        align-items: center;
                    }
                }

                .file-upload-btn {
                    color: $white;
                    background-color: $primary-color;
                    height: 30px;
                    border: none;
                    padding: 5px;
                    border-radius: 30px;
                }

                .focus-operations,
                .focus-graph {
                    margin-left: 3px;

                }

                .font-size-input {
                    width: 30px;
                    height: 24px;
                    margin-left: 5px;
                    padding-left: 5px;
                    border-radius: none;
                    margin-left: -2px;
                    box-shadow: $button-shadow;
                    border: 2px solid $black;
                }

                .font-family-select {
                    width: 130px;
                    height: 30px;
                    margin-left: 5px;
                    padding-left: 5px;
                    box-shadow: $button-shadow;
                    border-radius: 14px 14px 14px 14px;
                    border: 2px solid $black;
                }
                label {
                    display: flex;
                    align-self: center;
                    justify-content: center;
                }
                input[type="color"] {
                    border: none;
                    display: inline;
                    background-color: transparent;
                    color: #777;
                    padding: 0;
                    width: 8px;
                    height: 24px;
                    border-radius: 50%;
                }
            }

            // Right Section (Statistics)
            .focus-zone-right {
                display: flex;
                flex-direction: row;
            }
        }
    }

    >header {
        @include resetCss();
        height: 10%;
        box-sizing: border-box;
        display: none;
    }

    .mainContainer {
        @include resetCss();
        height: 90vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: aliceblue;

        .row {
            @include resetCss();
            display: flex;
            min-height: 50px;
            position: relative;
            overflow: hidden; // Ensure this does not restrict resizing

            .excel.resizable {
                @include resetCss();
                border: 1px solid #ccc;
                //padding: 2px;
                position: relative;
                transition: width 0.3s ease, height 0.3s ease;
                flex: none; // Ensure flex does not override manual sizing
                min-width: 50px;
                min-height: 50px;
                display: flex;
                flex-direction: column;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    background: #000;
                    opacity: 0;
                    cursor: nwse-resize;
                }

                &:hover::after {
                    opacity: 0.2;
                }

                .topSection {
                    height: 20px;
                }

                .middleSection {
                    flex: 1;
                    display: flex;
                    position: relative;
                    overflow: hidden;

                    .verticalCanvas {
                        width: 30px; // Adjust as needed
                        height: calc(100% - 10px);
                        position: relative; // Ensuring position is relative

                        canvas {
                            width: 100%;
                            height: 100%;
                        }

                        .up-arrow-button {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 20px;
                            cursor: pointer;
                            background: #f0f0f0;
                            border-top: 1px solid #ccc;
                            text-align: center;
                            font-size: 14px;
                        }

                        .footer-menu {
                            display: none;
                            position: absolute;
                            bottom: 20px; // Adjust based on arrow button height
                            width: 100%;
                            height: 5%; // Adjust height as needed
                            background: white;
                            border: 1px solid grey;

                            .sheet-options {
                                display: flex;
                                justify-content: space-between;
                                padding: 5px;

                                span {
                                    flex: 1;
                                    text-align: center;
                                }

                                button {
                                    background: none;
                                    border: none;
                                    cursor: pointer;
                                    padding: 5px;

                                    &.add-sheet {
                                        color: green;
                                    }

                                    &.remove-sheet {
                                        color: red;
                                    }
                                }
                            }
                        }
                    }

                    .fullCanvas {
                        flex: 1;
                        position: relative;
                        overflow: hidden;
                        background-color: white;

                        .input {
                            @include resetCss();
                            display: none;
                            position: absolute;
                            border: none;
                            outline: none;
                        }

                        .spreadsheetCanvas {
                            width: calc(100% - 10px); // Leave space for vertical scrollbar
                            height: calc(100% - 10px); // Leave space for horizontal scrollbar
                        }

                        .horizontalScroll,
                        .verticalScroll {
                            position: absolute;
                            background: #f0f0f0;
                        }

                        .horizontalScroll {
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 10px;
                        }

                        .verticalScroll {
                            top: 0;
                            right: 0;
                            bottom: 10px; // Leave space for horizontal scrollbar
                            width: 10px;
                        }

                        .horizontalBar,
                        .verticalBar {
                            background: #c0c0c0;
                            position: absolute;
                        }

                        .horizontalBar {
                            height: 100%;
                        }

                        .verticalBar {
                            width: 100%;
                        }
                    }
                }

                .col-resize-handle {
                    position: absolute;
                    top: 0;
                    right: -5px;
                    width: 10px;
                    height: 100%;
                    cursor: col-resize;
                    z-index: 10;
                }
            }

            .row-resize-handle {
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 10px;
                cursor: row-resize;
                z-index: 10;
            }
        }
    }

    .main-footer {
        height: 2%;
        display: flex;
        justify-content: flex-end;
        /* Ensure buttons align to the right */
        align-items: center;
        /* Vertically center the buttons */
        overflow: hidden;
        @include resetCss();


        .add-new-row {
            @include resetCss();
            height: 100%;
            font-size: 16px;
        }

        .add-new-col {
            @include resetCss();
            height: 100%;
            font-size: 100%;
        }
    }

}

.excelWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .topSection {
        display: flex;
        height: 20px; // Adjust as needed

        .nothing {
            width: 30px;
            height: 20px; // Adjust as needed
        }

        .upperCanvas {
            flex: 1;
            position: relative;
        }

        .horizontalCanvas {
            width: calc(100% - 10px); // Adjust to leave space for vertical scrollbar
            height: 100%;
        }
    }

    .middleSection {
        display: flex;
        flex: 1;
        position: relative;
    }

    .verticalCanvas {
        width: 30px; // Adjust as needed
        position: relative;

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    .fullCanvas {
        flex: 1;
        position: relative;

        .spreadsheetCanvas {
            width: calc(100% - 10px); // Leave space for vertical scrollbar
            height: calc(100% - 10px); // Leave space for horizontal scrollbar
        }

        .verticalScroll,
        .horizontalScroll {
            position: absolute;
            background: #f0f0f0;
        }

        .verticalScroll {
            right: 0;
            top: 0;
            width: 10px; // Adjust as needed
            height: calc(100% - 10px); // Adjust for horizontal scrollbar
        }

        .horizontalScroll {
            bottom: 0;
            left: 0;
            width: calc(100% - 10px); // Adjust for vertical scrollbar
            height: 10px; // Adjust as needed
        }

        .verticalBar,
        .horizontalBar {
            position: absolute;
            background: #c0c0c0;
            border-radius: 5px;
        }

        .verticalBar {
            width: 100%;
            height: 50%; // Adjust based on content
            top: 0;
        }

        .horizontalBar {
            height: 100%;
            width: 50%; // Adjust based on content
            left: 0;
        }
    }

    .sheet-bar {
        display: flex;
        align-items: center;
        height: 24px;
        background-color: #f1f1f1;
        border-top: 1px solid #e0e0e0;

        .sheet-controls {
            display: flex;
            align-items: center;
            padding: 0 5px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
                padding: 2px 5px;
                color: #5f6368;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }

        .sheet-tabs {
            display: flex;
            overflow-x: auto;
            flex-grow: 1;

            .sheet-tab {
                padding: 3px 10px;
                border-right: 1px solid #e0e0e0;
                background-color: #f1f1f1;
                cursor: pointer;
                white-space: nowrap;
                position: relative;
                font-size: small;

                .close-tab {
                    position: absolute;
                    right: -5px;
                    top: 5px;
                    transform: translateY(-50%);
                    background: none;
                    border: none;
                    color: red;
                    cursor: pointer;
                    font-size: 12px;
                }

                &.active {
                    background-color: #fff;
                    border-bottom: 2px solid #1a73e8;
                }

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }

        .sheet-scroll {
            display: flex;
            align-items: center;
            padding: 0 5px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
                padding: 2px 5px;
                color: #5f6368;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }
    }
}

/* General styling for the custom context menu */
.custom-context-menu {
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: default;
}

.context-menu-option {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for menu options */
.context-menu-option:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    /* This ensures the pointer icon on hover */
}

/* Option for disabled state if needed */
.context-menu-option.disabled {
    color: #ccc;
    pointer-events: none;
}

/* Add some spacing between the options */
.context-menu-option:not(:last-child) {
    margin-bottom: 6px;
}



.contentArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.popup th,
.popup td {
    border: 1px solid #ddd;
    padding: 8px;
}

.popup th {
    background-color: #f2f2f2;
}

/* graph */
.graph {
    display: none;
    height: -moz-fit-content;
    height: fit-content;
    width: 500px;
    position: absolute;
    top: 340px;
    left: 35%;
    border: 1px dotted;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
}

.graph-close {
    position: absolute;
    border-radius: 5px;
    right: 5px;
    top: 5px;
}



table#search-results {
    width: 100%;
    margin-top: 2px;
    border-collapse: collapse;

    th,
    td {
        padding: 1px;
        border: 1px solid #ccc;
    }

    th {
        background-color: #f1f1f1;
    }
}