body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Arial, sans-serif;
}
body #ribbon-container {
  background-color: #f5faf7;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body .progress {
  display: none;
  position: relative;
  background-color: #f5faf7;
  top: 0px;
  height: 1.25vh;
  border-radius: 0;
}
body .progress .progress-bar {
  background-color: #107C41;
  font-size: 9px;
  height: 100%;
}
body .tab-list-container {
  margin-top: 5px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding-left: 20px;
  margin-bottom: 5px;
}
body .tab-list-container .tab-list-container-items {
  margin-right: 10px;
  font-size: small;
  padding: 5px;
  cursor: pointer;
}
body .tab-list-container .tab-list-container-items:hover, body .tab-list-container .tab-list-container-items.active {
  border-bottom: 2px solid #107C41;
}
body .focus-zone {
  margin: 0 7px;
  padding: 5px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #107C41;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
}
body .focus-zone .focus-zone-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .focus-zone .focus-zone-inner .focus-zone-inner-seperator {
  background-color: #e0e0e0;
  margin-left: 5px;
  height: 22px;
  width: 2px;
}
body .focus-zone .focus-zone-inner .focus-zone-input-btn {
  height: -moz-max-content;
  height: max-content;
}
body .focus-zone .focus-zone-inner .focus-zone-inner-btn {
  background-color: #ffffff;
  color: #000000;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;
  cursor: pointer;
}
body .focus-zone .focus-zone-inner .focus-zone-inner-btn:hover, body .focus-zone .focus-zone-inner .focus-zone-inner-btn.active {
  color: #ffffff;
  background-color: #40a061;
}
body .focus-zone .focus-zone-inner .focus-zone-inner-btn-left {
  border-radius: 14px 0px 0px 14px;
  margin-left: 5px;
}
body .focus-zone .focus-zone-inner .focus-zone-inner-btn-middle {
  border-radius: none;
  margin-left: -2px;
}
body .focus-zone .focus-zone-inner .focus-zone-inner-btn-right {
  margin-left: -2px;
  border-radius: 0px 14px 14px 0px;
}
body .focus-zone .focus-zone-inner .focus-zone-left {
  display: flex;
  flex-direction: row;
}
body .focus-zone .focus-zone-inner .focus-zone-left .focus-format,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-file,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-operations,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-graph {
  display: none;
}
body .focus-zone .focus-zone-inner .focus-zone-left .focus-format.active,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-file.active,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-operations.active,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-graph.active {
  display: flex;
  align-items: center;
}
body .focus-zone .focus-zone-inner .focus-zone-left .file-upload-btn {
  color: #ffffff;
  background-color: #107C41;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 30px;
}
body .focus-zone .focus-zone-inner .focus-zone-left .focus-operations,
body .focus-zone .focus-zone-inner .focus-zone-left .focus-graph {
  margin-left: 3px;
}
body .focus-zone .focus-zone-inner .focus-zone-left .font-size-input {
  width: 30px;
  height: 24px;
  margin-left: 5px;
  padding-left: 5px;
  border-radius: none;
  margin-left: -2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 2px solid #000000;
}
body .focus-zone .focus-zone-inner .focus-zone-left .font-family-select {
  width: 130px;
  height: 30px;
  margin-left: 5px;
  padding-left: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 14px 14px 14px 14px;
  border: 2px solid #000000;
}
body .focus-zone .focus-zone-inner .focus-zone-left label {
  display: flex;
  align-self: center;
  justify-content: center;
}
body .focus-zone .focus-zone-inner .focus-zone-left input[type=color] {
  border: none;
  display: inline;
  background-color: transparent;
  color: #777;
  padding: 0;
  width: 9px;
  height: 24px;
  border-radius: 50%;
}
body .focus-zone .focus-zone-inner .focus-zone-right {
  display: flex;
  flex-direction: row;
}
body > header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 10%;
  box-sizing: border-box;
  display: none;
}
body .mainContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: aliceblue;
}
body .mainContainer .row {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 50px;
  position: relative;
  overflow: hidden;
}
body .mainContainer .row .excel.resizable {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: relative;
  transition: width 0.3s ease, height 0.3s ease;
  flex: none;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}
body .mainContainer .row .excel.resizable::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: #000;
  opacity: 0;
  cursor: nwse-resize;
}
body .mainContainer .row .excel.resizable:hover::after {
  opacity: 0.2;
}
body .mainContainer .row .excel.resizable .topSection {
  height: 20px;
}
body .mainContainer .row .excel.resizable .middleSection {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas {
  width: 30px;
  height: calc(100% - 10px);
  position: relative;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas canvas {
  width: 100%;
  height: 100%;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .up-arrow-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .footer-menu {
  display: none;
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 5%;
  background: white;
  border: 1px solid grey;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .footer-menu .sheet-options {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .footer-menu .sheet-options span {
  flex: 1;
  text-align: center;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .footer-menu .sheet-options button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .footer-menu .sheet-options button.add-sheet {
  color: green;
}
body .mainContainer .row .excel.resizable .middleSection .verticalCanvas .footer-menu .sheet-options button.remove-sheet {
  color: red;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: white;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  position: absolute;
  border: none;
  outline: none;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .spreadsheetCanvas {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .horizontalScroll,
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .verticalScroll {
  position: absolute;
  background: #f0f0f0;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .horizontalScroll {
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .verticalScroll {
  top: 0;
  right: 0;
  bottom: 10px;
  width: 10px;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .horizontalBar,
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .verticalBar {
  background: #c0c0c0;
  position: absolute;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .horizontalBar {
  height: 100%;
}
body .mainContainer .row .excel.resizable .middleSection .fullCanvas .verticalBar {
  width: 100%;
}
body .mainContainer .row .excel.resizable .col-resize-handle {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  z-index: 10;
}
body .mainContainer .row .row-resize-handle {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 10px;
  cursor: row-resize;
  z-index: 10;
}
body .main-footer {
  height: 2%;
  display: flex;
  justify-content: flex-end;
  /* Ensure buttons align to the right */
  align-items: center;
  /* Vertically center the buttons */
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .main-footer .add-new-row {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}
body .main-footer .add-new-col {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
}

.excelWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.excelWrapper .topSection {
  display: flex;
  height: 20px;
}
.excelWrapper .topSection .nothing {
  width: 30px;
  height: 20px;
}
.excelWrapper .topSection .upperCanvas {
  flex: 1;
  position: relative;
}
.excelWrapper .topSection .horizontalCanvas {
  width: calc(100% - 10px);
  height: 100%;
}
.excelWrapper .middleSection {
  display: flex;
  flex: 1;
  position: relative;
}
.excelWrapper .verticalCanvas {
  width: 30px;
  position: relative;
}
.excelWrapper .verticalCanvas canvas {
  width: 100%;
  height: 100%;
}
.excelWrapper .fullCanvas {
  flex: 1;
  position: relative;
}
.excelWrapper .fullCanvas .spreadsheetCanvas {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
.excelWrapper .fullCanvas .verticalScroll,
.excelWrapper .fullCanvas .horizontalScroll {
  position: absolute;
  background: #f0f0f0;
}
.excelWrapper .fullCanvas .verticalScroll {
  right: 0;
  top: 0;
  width: 10px;
  height: calc(100% - 10px);
}
.excelWrapper .fullCanvas .horizontalScroll {
  bottom: 0;
  left: 0;
  width: calc(100% - 10px);
  height: 10px;
}
.excelWrapper .fullCanvas .verticalBar,
.excelWrapper .fullCanvas .horizontalBar {
  position: absolute;
  background: #c0c0c0;
  border-radius: 5px;
}
.excelWrapper .fullCanvas .verticalBar {
  width: 100%;
  height: 50%;
  top: 0;
}
.excelWrapper .fullCanvas .horizontalBar {
  height: 100%;
  width: 50%;
  left: 0;
}
.excelWrapper .sheet-bar {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #f1f1f1;
  border-top: 1px solid #e0e0e0;
}
.excelWrapper .sheet-bar .sheet-controls {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.excelWrapper .sheet-bar .sheet-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 5px;
  color: #5f6368;
}
.excelWrapper .sheet-bar .sheet-controls button:hover {
  background-color: #e0e0e0;
}
.excelWrapper .sheet-bar .sheet-tabs {
  display: flex;
  overflow-x: auto;
  flex-grow: 1;
}
.excelWrapper .sheet-bar .sheet-tabs .sheet-tab {
  padding: 3px 10px;
  border-right: 1px solid #e0e0e0;
  background-color: #f1f1f1;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  font-size: small;
}
.excelWrapper .sheet-bar .sheet-tabs .sheet-tab .close-tab {
  position: absolute;
  right: -5px;
  top: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 12px;
}
.excelWrapper .sheet-bar .sheet-tabs .sheet-tab.active {
  background-color: #fff;
  border-bottom: 2px solid #1a73e8;
}
.excelWrapper .sheet-bar .sheet-tabs .sheet-tab:hover {
  background-color: #e0e0e0;
}
.excelWrapper .sheet-bar .sheet-scroll {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.excelWrapper .sheet-bar .sheet-scroll button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 5px;
  color: #5f6368;
}
.excelWrapper .sheet-bar .sheet-scroll button:hover {
  background-color: #e0e0e0;
}

/* General styling for the custom context menu */
.custom-context-menu {
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: default;
}

.context-menu-option {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for menu options */
.context-menu-option:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  /* This ensures the pointer icon on hover */
}

/* Option for disabled state if needed */
.context-menu-option.disabled {
  color: #ccc;
  pointer-events: none;
}

/* Add some spacing between the options */
.context-menu-option:not(:last-child) {
  margin-bottom: 6px;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.popup th,
.popup td {
  border: 1px solid #ddd;
  padding: 8px;
}

.popup th {
  background-color: #f2f2f2;
}

/* graph */
.graph {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  position: absolute;
  top: 340px;
  left: 35%;
  border: 1px dotted;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}

.graph-close {
  position: absolute;
  border-radius: 5px;
  right: 5px;
  top: 5px;
}

table#search-results {
  width: 100%;
  margin-top: 2px;
  border-collapse: collapse;
}
table#search-results th,
table#search-results td {
  padding: 1px;
  border: 1px solid #ccc;
}
table#search-results th {
  background-color: #f1f1f1;
}/*# sourceMappingURL=style.css.map */